.textos1 {
    font-weight: bold !important;
}

.imagem{
    background-image: url(https://img.redbull.com/images/c_crop,x_454,y_0,h_720,w_576/c_fill,w_400,h_540/q_auto:low,f_auto/redbullcom/2018/09/20/6cb9b120-96c3-4ea0-879e-2a6b476abb2d/pica-pau-collab-70-animadores-01);
    background-repeat: no-repeat; 
    width: 100vh; 
    min-height: 100vh;
    background-size: cover;
     background-position: center;
}

.text-decorator-none{
    text-decoration: none;
}