.box1{
    background-color: #ffa2c4; 
    height: 120px;
}

.box2 {
    background-color: #e78cae;
    height: 60px;
}

.redes {
    font-size: 60px !important;
    color: white;
}

.textos {
    color: white;
}

.teste {
    background-color: #e6ddbc;
}
